@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1658317725907') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-favorites-fill:before {
  content: "\e721";
}

.icon-good:before {
  content: "\e753";
}

.icon-good-fill:before {
  content: "\e780";
}

.icon-favorites:before {
  content: "\e7b3";
}

